
<h2>Your Score:{{ task.followers + task.public_repos }} </h2>
<h3 id='red' *ngIf='(task.followers + task.public_repos) < 20'>Needs Work!</h3>
<h3 id='orange' *ngIf='((task.followers + task.public_repos) >= 20) && ((task.followers + task.public_repos) < 50)'>A decent start!</h3>
<h3 *ngIf='((task.followers + task.public_repos) >= 50) && ((task.followers + task.public_repos) < 100)'>Doing good!</h3>
<h3 id='green' *ngIf='((task.followers + task.public_repos) >= 100) && ((task.followers + task.public_repos) < 200)'>Great job!</h3>
<h3 id='blue' *ngIf='(task.followers + task.public_repos) >= 200'>Github Elite!</h3>

