<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA_Compatible" content="ie-edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Coding Dojo Mongoose Dashboard Assignment</title>
  </head>
  <body>
    <h1>My Awesome Llama Herd</h1>
    <h3>Edit a Llama!!</h3>
    <form action="<%=llama.id %>" method="post">
      <label for="name">Name:</label>
      <input type="text" name=name value="<% = llama.name %>"> <br><br>
      <label for="color">Color:</label>
      <input type="number" name=color value="<% = llama.color %>">> <br><br><br><br>
      <label for="weight">Weight:</label>
      <input type="number" name=weight value="<% = llama.weight %>">> <br><br>
      <input type="submit" value="Edit Llama">
    </form>
    <br><br>
  </body>
</html>
