<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA_Compatible" content="ie-edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Coding Dojo Mongoose Dashboard Assignment</title>
  </head>
  <body>
    <h2>Check Out a Llama!</h2>
    <h4>Name: <%= meer.name %></h4>
    <h4>Color: <%= meer.color %></h4>
    <h4>Weight: <%= meer.weight %></h4>
    <a href="/:id/edit"><button type="button" class="main_button">Edit Llama</button></a>
  <body>
</html>
