<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>
      <style>
        button{margin: 25px;}
      </style>
  </head>
  <body>
    <h2>US Time Zone Display</h2>

    <button (click)="onButtonClick('pst')"
     [ngStyle]="{
      'background-color': buttonBackground(zone.abbr)
    }">PST</button>

    <button (click)="onButtonClick('mst')"[ngStyle]="{
      'background-color': buttonBackground(zone.abbr)
    }">MST</button>

    <button (click)="onButtonClick('cst')"[ngStyle]="{
      'background-color': buttonBackground(zone.abbr)
    }">CST</button>

    <button (click)="onButtonClick('est')"[ngStyle]="{
      'background-color': buttonBackground(zone.abbr)
    }">EST</button>

    <button (click)="clearAll()"[ngStyle]="{
      'background-color': buttonBackground(zone.abbr)
    }">Clear</button>
  </body>
</html>

