<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA_Compatible" content="ie-edge">
    <title>Coding Dojo Mongoose Quote Assignment</title>
  </head>
  <body>
  <h1>Here are the awesome quotes!</h1>
  <%for (const quote of quotes){%>
    <h4>Author: <%= quote.name %></h4>
    <p>Quote: <%= quote.quote %></p>
    <p>Date: <%= quote.quote_date %></p>
  <%}%>
  </body>
</html>
