<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Registration Form</h1>
    <h2>Account Information</h2>
    <form id='Registration_form' (submit = "onSubmit()")>
      <label for ="first_name">First Name: </label>
      <input type = "text"
      name = 'first_name'
      required
      [(ngModel)]=user.first_name
      minlength='1'
      #firstname='ngModel'> 
     
      {{ firstname.errors || json  }}
      
      <div *ngIf = '(firstname.touched) && firstname.errors' >

        <div *ngIf = 'firstname.errors.required'>
          You Must Enter a First Name
        </div>

        <div *ngIf = 'firstname.errors.minLength'>
            Name must be at least {{name.errors.menlength.requiredLength  }} characters  {{title.errors.minlength.actuallength  }} characters is not enough
        </div>

      </div>


      <!--left off on weekend session at 11:46 where he reviews year-->
    </form>
  </body>
</html>